.div1 {
    background-color: #0d5825;
    width: 450px;
    height: 450px;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    display: inline-block;    
    transform-origin: 100% 0%;
}
.q1 {
    color: white;
}
.span1 {
    color: white;
}
.images:hover {
    transform: skew(20deg, -20deg) translateY(-20px);
}
.images1:hover {
    transform: skew(8deg, -8deg) translateY(-20px);
}
.images2:hover {
    transform: skew(-10deg, 10deg) translateY(-20px);
}
.images{
    z-index: 1;
    position: relative;
    top: 90px;
    right: -70px; 
    transform: rotate(-20deg);
       }
.images1{
    z-index: 2;
    position: relative;
    top: 90px;
    right: 20px; 
    transform: rotate(-8deg);
       }
.images2{
    z-index: 3;
    position: relative;
    top: 100px;
    right: 110px; 
    transform: rotate(10deg);
}  